@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Passion+One:wght@400;700;900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');


:root{
    --font01: verdana, geneva, tahoma, sans-serif;
    --font02: "Passion One", sans-serif;
    --font03: "Sriracha", cursive;

}

*{
    margin: 0px;
    padding: 0px;
}

html, body{
    font-family:var(--font01) ;
    min-height: 100vh;
    background-color: darkgray;
}

header{
    font-family: var(--font02);
    background-color: black;
    color: white;
    text-align: center;
}

header h1{
    font-size: 10vw;
    padding-top: 50px;
    font-variant: small-caps;
}

header > p{
    padding-bottom: 50px;
}

header a, footer a{
    color: white;
    text-decoration: none;
    font-weight: bold;
}

header a, footer a:hover{
    text-decoration: underline;
}

section{
    font-family: var(--font03);
    font-size: 3vw;
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 32px;
    padding-left: 30px;
}

section > p{
    padding-bottom: 2em;
}

section.normal{
    background-color: white;
    color: black;
}

section.imagem{
    background-color: rgb(52, 47, 47);
    color: white;
    box-shadow: inset 6px 6px 13px 0px black;
    background-attachment: fixed;
}

section.imagem > p{
    
    background-color: rgba(0, 0, 0, 0.199);
    padding-left: 5px;
    text-shadow: 2px 2px 0px black;
   
}

section#img01{
    background-image: url('../imagens/background001.jpg');
    background-position: right center;
     background-size: cover;
}

section#img02{
    background-image: url('../imagens/background002.jpg');
    background-position: right center;
     background-size: cover;
}

footer{
    background-color: black;
    text-align: center;
    color: white;
    padding: 10px;
}